/* line 12, custom-style.scss */
body {
  max-width: 1170px;
  margin: 0 auto;
}

/* line 17, custom-style.scss */
.eventSlider {
  background: url(../demo/slider-bg.jpg) no-repeat center center;
  background-size: cover;
}
/* line 21, custom-style.scss */
.eventSlider li {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 33, custom-style.scss */
.eventSlider__slide1 .eventSlider__layer1, .eventSlider__slide2 .eventSlider__layer1, .eventSlider__slide1 .eventSlider__layer2, .eventSlider__slide2 .eventSlider__layer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*     @include opacity(1);
  
      @include translateX(0%);
  
      // Transition in
      @include transition-property(all);
      @include transition-duration(0.4s);
      @include transition-timing-function(ease-out);
   */
}

/* line 59, custom-style.scss */
.eventSlider__slide1 .eventSlider__layer1 {
  background: url(../demo/slide1_layer1.png) no-repeat center center;
  background-size: contain;
}
/* line 65, custom-style.scss */
.eventSlider__slide1 .eventSlider__layer2 {
  background: url(../demo/slide1_layer2.png) no-repeat center center;
  background-size: contain;
}

/* line 73, custom-style.scss */
.eventSlider__slide2 .eventSlider__layer1 {
  background: url(../demo/slide2_layer1.png) no-repeat center center;
  background-size: contain;
}
/* line 79, custom-style.scss */
.eventSlider__slide2 .eventSlider__layer2 {
  background: url(../demo/slide2_layer2.png) no-repeat center center;
  background-size: contain;
}

/* .eventSlider-direction-pre-next.eventSlider-event-pre-00 {
    .eventSlider__slide1,
    .eventSlider__slide2 {
        .eventSlider__layer1 {
            @include opacity(0);

            // Transition out
            @include translateX(100%);
            @include transition-timing-function(ease-in);
        }

        .eventSlider__layer2 {
            @include opacity(0);

            // Transition out
            @include translateX(50%);
            @include transition-timing-function(ease-in);
        }
    }
}

.eventSlider-direction-pre-prev.eventSlider-event-pre-00 {
    .eventSlider__slide1,
    .eventSlider__slide2 {
        .eventSlider__layer1 {
            @include opacity(0);

            // Transition out
            @include translateX(-50%);
            @include transition-timing-function(ease-in);
        }

        .eventSlider__layer2 {
            @include opacity(0);

            // Transition out
            @include translateX(-100%);
            @include transition-timing-function(ease-in);
        }
    }
}

.eventSlider-direction-post-next.eventSlider-event-post-00 {
    .eventSlider__slide1,
    .eventSlider__slide2 {

        .eventSlider__layer1,
        .eventSlider__layer2 {
            @include opacity(0);

            @include transition-duration(0.05s);
            @include translateX(-50%);
        }

        .eventSlider__layer2 {
            @include translateX(-100%);
        }
    }
}

.eventSlider-direction-post-prev.eventSlider-event-post-00 {
    .eventSlider__slide1,
    .eventSlider__slide2 {

        .eventSlider__layer1,
        .eventSlider__layer2 {
            @include opacity(0);

            @include transition-duration(0.05s);
            @include translateX(100%);
        }

        .eventSlider__layer2 {
            @include translateX(50%);
        }
    }
}

.eventSlider__slide1.slider_hidden,
.eventSlider__slide2.slider_hidden {
    .eventSlider__layer1 {
        @include opacity(0);
    }

    .eventSlider__layer2 {
        @include opacity(0);
    }
}


.eventSlider__slide3 {
    .eventSlider__layer1 {
        @extend %eventSlider__layer1;
    }

    .eventSlider__layer2 {
        @extend %eventSlider__layer2;
    }
} */
